@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

* {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.navbar {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.profile {
  margin-right: 10px;
}

.App-logo {
  font-family: 'Romanesco', sans-serif;
  font-size: 55px;
  color:  inherit;
  text-decoration:none;
}

.Pay-button {
  margin-top: 30px;
}

.Balance  {
  margin-top: 10px;
  margin-bottom: 30px;
}

.Games {
  margin-top: 10%;
}

.Bet-buttons {
  margin-top: 2rem;
}

.Wheel {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spin {
  margin-top: 20px;
}

.Red-button {
  margin-right: 25px;
}

.Dark-button {
  margin-left: 25px;
}

.Own-form {
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  text-align: center;
  margin-top: 20px;
}

.Error-label {
  color:darkred;
  margin-top: 10px;
  margin-bottom: 2rem;
}

.Result-message {
  margin-bottom: 10px;
}

.Win-message {
  color: green;
}

.Lose-message {
  color: red;
}

.card-text {
  text-align: center;
}

.card-body {
  text-align: center;
}

.Message {
  text-align: center;
}

.Like-button, .Photo-delete-button {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.card {
  position: relative;
}

.card img {
  display: block;
  width: 18rem;
}

.card .Photo-delete-button {
  position: absolute; right:0;
}
